@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

.beach-detail-header {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 0;
  column-gap: 0;

  @include breakpoint(desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__media {
    background-color: $white;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: auto;
    display: block;
  }
  &__details {
    background-color: $base-lightest;
    padding: $space-600;
    display: grid;
    align-items: center;
    row-gap: $space-400;

    @include breakpoint(desktop) {
      row-gap: $space-250;
    }
  }
  &__details-item {
    display: flex;
    align-items: center;
  }
  &__details-icon {
    background-color: $primary;
    padding: $space-150;
    color: $white;
    width: 3.5rem;
    height: 3.5rem;
  }
  &__details-text {
    padding: $space-100 $space-200;
    flex: 1;
    span {
      display: block;
      padding: $space-025 0;
    }
  }
}
