@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.usa-footer__secondary-section {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.usa-footer__logo-img {
  color: $base;
  fill: currentColor;
}
.usa-social-link {
  height: 2rem;
  width: 2rem;
}
